<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
</head>

<style>
  body {
  background: -webkit-linear-gradient(to right, #fffcdc, #d9a7c7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fffcdc, #d9a7c7);
  font-family: "Helvetica", "Arial", sans-serif;
  }
  h1 {
    font-family: "Raleway", sans-serif
    }
</style>
<body>

<div style='text-align:center'>
  <h1>Cats vs Aliens </h1>
</div>

<div>

  <form name="players" action="/names" method="post">

    <div align='center'>

    <div style='display:inline-block; margin: 10px'>

        <img src= "https://goo.gl/FmuUcg" height="400" >
        <div style='align: center; margin: 10px'>
        Player one name: <input type="text" name="player_one_name">
        </div>

    </div>

    <div style='display:inline-block; margin: 10px'>
        <img src= "https://goo.gl/CngGFN" height="400">
        <div style='align: center; margin: 10px'>
        Player two name: <input type="text" name="player_two_name">
      </div>

    </div>
  </div>

<div align="center">
  <input type="submit" value="May the battle begin!">
  </form>
</div>

</div>


</body>
