<div style='display:inline-block'>
<p><%= $player_one.name %></p>
<p><%= $player_one.hp %></p>
</div>

<div style='display:inline-block'>
 <p>VS.</p>
 </div>

 <div style='display:inline-block'>
   <p><%= $player_two.name %></p>
   <p><%= $player_two.hp %></p>
 </div>
