<div style='display:inline-block'>
  <img src='https://i0.wp.com/consciouscat.net/wp-content/uploads/2017/01/tuxedo-cat-heart-e1484218241953.jpg?resize=500%2C500' height='500'>
  <div align='center'>
    <h1><%= $player_one.name %></h1>
    <h2><%= $player_one.hp %>HP</h2>
  </div>

<!-- form goes here  -->
  

</div>

<div style='display:inline-block'>
   <h3>VS.</h3>
 </div>

 <div style='display:inline-block' >
   <img src='https://s-media-cache-ak0.pinimg.com/originals/d8/10/e4/d810e49915d82f8b281d07f9b0d55cd7.jpg' height='500'>
   <div align='center'>
     <h1><%= $player_two.name %></h1>
     <h2><%= $player_two.hp %>HP</h2>
   </div>
 </div>
